[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
fabric3 = "*"
flake8 = "*"
ipython = "*"
tox = "*"
coverage = "*"
django_coverage_plugin = "*"

[packages]
django-extensions = "*"
django-libsass = "*"
django-model-utils = "*"
django-redis = "*"
psycopg2-binary = "*"
redis = "*"
elasticsearch = "<6.0.0,>=5.0.0"
django-kdl-ldap = "*"
wagtail = "<3"
wagtailmenus = "*"
Django = "<3"
django_compressor = "*"
puput = "*"
kdl-wagtail-page = "*"
django-kdl-wagtail = "<=0.7.7"
mailchimp3 = "*"
django-simple-captcha = "*"
django-controlled-vocabulary = "*"
django-dublincore-resource = "*"
coverage = "*"
django-coverage-plugin = "*"
flake8 = "*"

[requires]
python_version = "3.5"
