[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "==4.6.0"
certifi = "==2019.3.9"
chardet = "==3.0.4"
django-appconf = "==1.0.3"
django-auth-ldap = "==1.7.0"
django-cogwheels = "==0.2"
django-colorful = "==1.3"
django-compressor = "==2.2"
django-el-pagination = "==3.2.4"
django-extensions = "==2.1.6"
django-kdl-ldap = "==1.1"
django-libsass = "==0.7"
django-model-utils = "==3.1.2"
django-modelcluster = "==4.4"
django-ranged-response = "==0.2.0"
django-redis = "==4.10.0"
django-simple-captcha = "==0.5.11"
django-social-share = "==1.3.2"
django-taggit = "==0.23.0"
django-treebeard = "==4.3"
djangorestframework = "==3.9.3"
draftjs-exporter = "==2.1.5"
elasticsearch = "==5.5.3"
html5lib = "==1.0.1"
idna = "==2.8"
kdl-wagtail-page = "==0.1.2"
libsass = "==0.18.0"
mailchimp3 = "==3.0.6"
psycopg2-binary = "==2.7.7"
puput = "==1.0.3"
pyasn1 = "==0.4.5"
pyasn1-modules = "==0.2.5"
python-ldap = "==3.2.0"
pytz = "==2019.1"
rcssmin = "==1.0.6"
redis = "==3.2.0"
requests = "==2.21.0"
rjsmin = "==1.0.12"
six = "==1.12.0"
urllib3 = "==1.24.3"
wagtail = "==2.3"
wagtailmenus = "==2.12"
webencodings = "==0.5.1"
Django = "==2.1.7"
Pillow = "==5.4.1"
Unidecode = "==1.0.23"
Willow = "==1.1"
django-kdl-wagtail = {ref = "field-1", editable = true, git = "https://github.com/kingsdigitallab/django-kdl-wagtail.git"}

[requires]
python_version = "3.5"
