[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
fabric3 = "*"
flake8 = "*"
ipython = "*"
tox = "*"

[packages]
django-extensions = "*"
django-libsass = "*"
django-model-utils = "*"
django-redis = "*"
psycopg2-binary = "*"
redis = "*"
elasticsearch = "<6.0.0,>=5.0.0"
django-kdl-ldap = "*"
wagtail = "<3"
wagtailmenus = "*"
Django = "<3"
django_compressor = "*"
kdl-wagtail-page = {git = "https://github.com/kingsdigitallab/kdl-wagtail-page.git",ref = "fda95a28c60a23e28add4746312c205f311c44ba",editable = true}

[requires]
python_version = "3.5"
