{% load menu_tags %}

{% if menu_items %}
    {% for item in menu_items %}
        {% if item.has_children_in_menu %}
        
                <li {% if page.active %} class="is-active" {% endif %}><a href="{{ item.href }}">{{ item.text }}</a>
                        <ul>{% sub_menu item template=current_template %}</ul>
                </li>
        {% else %}
            <li {% if page.active %} class="is-active" {% endif %}>
                <a href="{{ item.href }}">{{ item.text }}</a>
            </li>
        {% endif %}
    {% endfor %}
{% endif %}
