{% extends "kdl_wagtail_core/base_page.html" %}
{% load kdl_wagtail_core_tags wagtailcore_tags wagtailimages_tags staticfiles %}


{% block page-body %}
<div class="mailing-list-page">
    <div class="page-introduction">
        {{ page.introduction|richtext }}
    </div>

    <form action="" method="post" class="form-mailing-list">
        {% csrf_token %}

        <ul>
            {{ mailing_list_form.as_ul }}
        </ul>

        <p>
            <label for="id_agree" class="consent-text">
              By providing my details I am consenting to FIELD team
              sending me information about the project,
              such as news, bulletins and events.
              <a target="_blank" href="https://www.kcl.ac.uk/terms/privacy.aspx">
                King’s College London’s privacy policy applies.
              </a>
            </label>
        </p>

        <p>
            <input class="field-button" type="submit" value="Sign up" />
        </p>
    </form>
</div>

{% endblock page-body %}
