/** Your custom scss here **/

/* Table of contents
 *
 * 1. ----- Imports
 *    --------- FontAwesome
 *    --------- Webfonts
 * 2. ----- Mixins and Variables
 *    --------- Color
 * 3. ----- General
 * 4. ----- Navigation
 *    --------- Primary
 *    --------- Secondary
 *    --------- Search
 *    --------- Breadcrumbs
 * 5. ----- Rich pages
 * 6. ----- Footer

 * Media Queries
*/


/* 1. Imports  */

/* FontAwesome */
/* TO: GN, Does not work @import 'font-awesome'; */
/* Webfonts */
@import url('https://fonts.googleapis.com/css?family=BenchNine:300|Catamaran:400');

/* 2. Mixins and Variables  */

/* Color */
$black:#222;
$white:#fff;
$lightgray:#ddd;
$primary: #679e5a;
$secondary: #a1562c;



/* 3. General */
body{
    font-family: 'Catamaran', sans-serif;
    width: 80%;
    margin: 0 auto;
}
main{
    float: left;
    width: 100%;
}

a{
    color:$primary;
    &:hover{
        opacity: 0.7;
    }
}
/* 4. Navigation  */
#nav {
    width: 100%;
    font-size: 0.8rem;
    padding: 0;
    float: left;
    z-index: 1;
    margin-top: 1rem;
    .logo {
        position: relative;
        z-index: 0;
        float:left;
        width:25%;
        max-width: 11rem;
        img{
            width:4.5rem;
        }
        h1 {
            text-align: left;
            font-size: 0.9rem;
            padding: 0;
            margin: 0;
            line-height: 1;
            //text-transform: uppercase;
            font-weight: normal;
            font-family: 'BenchNine', sans-serif;
            >a {
                color: darken($lightgray,30%);
                text-decoration: none;
            }
        }
    }
    >a {
        display: none;
    }

    li {
        position: relative;
        list-style-type: none;
        display: inline-block;
        margin: 0.5rem 0.3rem;
        font-size:0.9rem;

        a {
            display: block;
            text-decoration: none;
            padding:0.3rem;
            color: $primary;
            &:hover{
                color:darken($primary,15%);
            }
        }
    }


    span:after {
        width: 0;
        height: 0;
        border: 0.313em solid transparent;
        border-bottom: none;
        border-top-color: $black;
        content: '';
        vertical-align: middle;
        display: inline-block;
        position: relative;
        right: -0.313em;
    }
}

//first level
#nav>ul {
    height: 3.75em;
    margin: 0 0 0 -40px;
    float:right;
    width:75%;
    text-align:right;
    >li {
        //height: 100%;
        display: inline-block;
        -moz-transition:all 200ms ease-in;
        -webkit-transition:all 200ms ease-in;
        -o-transition:all 200ms ease-in;
        transition:all 200ms ease-in;
        &.is-active {
            color:$black;
            border-bottom:1px solid $black;
            border-top:1px solid $black;
            &:hover{
                border-bottom:1px solid lighten($black,45%);
                border-top:1px solid lighten($black,45%);
            }
        }

        >a {
            height: 100%;
            font-size: 1.2em;
            line-height: 2.5;
            text-align: center;
            padding: 0 0.5rem;
        }
    }
}

//second level
#nav li ul {
    position: absolute;
    top: 100%;
    z-index: 1;
    opacity: 0;
    background: darken($primary,10%);
    text-align: center;
    margin: 0 -40px 0 0;
    padding: 0;
    li {
        background: darken($primary,10%);
        padding: 0 1rem;
        margin: 0 0 0 -40px;
        transition: 0.8s ease;
        display: block;
        &:hover{
            background: darken($primary,20%);

            a{
                color: $white;
            }
        }
    }

    a {
        font-size: 0.85rem;
        padding: 0.5rem 0.2rem;
        color: $white;
    }
}

#nav li:hover ul {
    display: block;
    left: 0;
    right: 0;
    opacity: 1;

    a {
        display: block;
        transition: 0.8s ease;
    }
}

/* Search */

.button {
    display: inline-block;
    font-size: 1rem;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: $primary;
    text-decoration: none;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:hover {
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;

}

.search:focus +.searchbutton {
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
}

.search {
    position: absolute;
    background-color: white;
    outline: none;
    border: none;
    padding: 0;
    z-index: 10;
    opacity: 0;
    width: 400px;
}

.search:focus {
    width: 400px;
    right: 73px;
    top: 0;
}

.expandright {
    left: auto;
    width: 73px;
    height:50px;
}

.expandright:focus {
    padding: 0 0 0 16px;
}

// GN: made this specific otherwise any input is hidden by default
// which makes it impossible to develop any form on the site
input.search {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin-top: 0;
    border: 0;
    outline: none;
    opacity: 0;
    right: 0;
    -webkit-transition-delay: 0.7s;
    /* Safari */
    transition-delay: 0.7s;
}

// GN: made this specific otherwise any input is hidden by default
// which makes it impossible to develop any form on the site
input.search:focus {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    margin-top: 0;
    background: $lightgray;
    color: $black;
    font-weight: 600;
    padding: 0;
    border: 0;
    outline: none;
    opacity: 1;
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}

/* Breadcrumbs */
.breadcrumb{
    //background: lighten($lightgray,10%);
    padding: 0 0 0 12.5%;
    margin-left: -12.5%;
    width: 112.5%;
    margin-top: 1rem;
    border-top: 1px solid $lightgray;
    ul{
        margin-left: -40px;
        li{
            list-style-type: none;
            display: inline-block;
            color: $primary;
            font-size: 0.7rem;
            text-transform: uppercase;
            a{
                color: $primary;
                text-decoration: none;
                &:hover{
                    color: darken($primary,20%);
                }
            }
            &:after{
                content:"▸";
                padding-left:0.3rem;
            }
            &:last-child{
                &:after{
                    content:"";
                }
            }
        }
    }
}

/* Home */
section{
    width:100%;
    float:left;
    text-align:justify;
    header{
        width:100%;
        text-align:center;
        h2{
            margin:0 0 1rem 0;
            text-align:center;
            color:$primary;
            font-size:0.8rem;
            text-transform:uppercase;
            font-family: 'BenchNine', sans-serif;
            border-bottom:1px solid lighten($primary,30%);
            display:inline-block;
        }/* end h2 */
    }/* end header */
    iframe{
        width:100% !important;
        height:100vh !important;
    }

    &:nth-child(1n){
        margin:2rem 0;
        padding:0;
        width:100%;
        img{
            width:100%;
            object-fit: cover;
            max-height:300px;
        }/* end img */
        .readmore{
            text-align:center;
            width:100%;
            display:block;
            a{
                text-align:center;
                background:$primary;
                text-decoration:none;
                color:$white;
                font-size: 0.9rem;
                padding: 0.3rem 0.9rem;
            }/* end a */
        }/* end .readmore */
    }/* 1n */
    &:nth-child(2n){
      background:lighten($lightgray,10%);
      padding-bottom:1rem;
      margin: 0.5rem 0;
      .card{
        width:25%;
        float:left;
        img{
          width:100%;
          height:12vw;
          max-height:200px;
          object-fit: cover;
        }
      a{
        text-decoration: none;
        h3{
          margin:0;
          font-family: 'BenchNine', sans-serif;
          font-size:1.2rem;
          color:$primary;
          text-align:center;
            &:hover{
                opacity: 0.7;
            }
        } /* end h3 */

        }/* end a */
        }/* end .card */
    }/* 2n */
      &:nth-child(3n){
        margin-bottom:3rem;
        background:lighten($lightgray,10%);
        padding:0 2%;
        width:96%;
        padding-bottom:2rem;
        section{
          p{
            padding:0 2rem;
        }
        &:nth-child(1n){
            float:right;
            width:28%;
            header{
                background: $white;
            }
        }
        &:nth-child(2n){
            float:left;
            width:70%;
            background: $primary url("https://images.pexels.com/photos/958168/pexels-photo-958168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
            background-size:100%;
            padding:0 2% 1rem 2%;
            width:66%;
            h2,h3{
              color:$white;
              }
              header{
                background: transparent;
            }
        }
        &:nth-child(3n){
            background:$white;
            float:left;
            width:70%;
            padding:0;
            margin:0;
            img{
              width:100%;
              display:block;
          }
        }
        &:nth-child(4n){
            background:$white;
            float:left;
            width:68%;
            padding:0 1%;
            h2{
              color:$primary;
          }
        }
        &:nth-child(5n){
            background:$white;
            float:left;
            width:68%;
            padding:0 1%;
            margin:0;
        }
    }/* sub-section */

  }/* 3n */
}/* section */


/* 5. Rich pages */

/* 5. Blog */
.news{
    .article{
        float:left;
        width:70%;
        margin-right: 10%;
        article{
            background: lighten($lightgray,10%);
            float: left;
            width: 100%;
            margin-bottom: 2rem;
            padding:0 1rem;
            header{
                a{
                    text-decoration: none;
                    color:$black;
                    font-size: 1.2rem;
                    padding: 0.8rem 0;
                    display: block;
                }
            }
            section{
                img{
                    width:100%;
                    height:auto;
                }
                ul{
                    li{
                        list-style-type: none;
                        display: inline-block;
                        font-size: 0.75rem;
                        margin-right: 0.3rem;
                        color: darken($lightgray,30%);
                        a{
                            color: darken($lightgray,30%);
                            text-decoration: none;
                        }
                    }
                }
                path{
                    color: darken($lightgray,20%);
                }
                .rich-text{
                    img.richtext-image.left{
                        width:50%;
                        float: left;
                    }
                    img.richtext-image.right{
                        width:50%;
                        float: right;
                    }
                }
            }
            footer{
                text-align: left;
                padding:0;
                font-size: 1rem;
                background: lighten($lightgray,10%);
                width: 100%;
                margin-left: 0;
                p{
                    color: $black;
                }
                a{
                    color: $black;
                }
                .social{
                    width:60%;
                    display: inline-block;
                }
                .read{
                    width: 33%;
                    display: inline-block;
                    text-align: right;
                    a{
                        text-decoration: none;
                        color: $primary;
                        &:hover{
                            color: darken($primary,20%);
                        }
                    }
                }
            }
        }
    }
    .sidebar{
        float:left;
        width:20%;
        .rss{
            text-align:right;
            a{
                text-decoration: none;
                color: darken($lightgray,20%);
                font-size: 0.8rem;
            }
            svg{
                color: darken($lightgray,20%);
            }
        }
        ul.section{
            background: lighten($lightgray,10%);
            padding: 0.1rem 2rem 0.9rem 2rem;
            h4{
                border-bottom: 1px solid darken($lightgray,20%);
            }
            >li{
                list-style-type: none;
                article{
                    margin-bottom: 0.7rem;
                    h5{
                        margin:0;
                        font-size: 1rem;
                        a{
                            text-decoration: none;
                            color: $black;
                            &:hover{
                                opacity: 0.7;
                            }
                        }
                    }
                    >ul{
                        margin-left: -40px;
                        font-size:0.7rem;
                        >li{
                            display: inline-block;
                            margin-right: 0.3rem;
                            color: darken($lightgray,20%);
                            svg{
                                color: darken($lightgray,20%);
                            }
                        }
                    }
                }
            }
            >ul{
                margin-left: -40px;
                >li{
                    list-style-type: none;
                    a{
                        color: $black;
                        text-decoration: none;
                        &:hover{
                            opacity: 0.7;
                        }
                    }

                }
            }
        }
    }
}


/* 6. Footer */
footer{
    text-align: center;
    padding: 1rem 0;
    font-size: 0.8rem;
    background:$primary;
    float:left;
    width: 125%;
    margin-left: -12.5%;
    ul{
        li{
            list-style-type: none;
            display: inline-block;
            img {
                width: 80px;
                margin: 0 1rem;
                display: inline-block;
                margin: 0 1rem 1rem 1rem;
                &:hover{
                    opacity: 0.7;
                }
            }
            a{
                text-decoration: none;
                color:$lightgray;
                &:hover{
                    opacity: 0.7;
                }
            }
        }
    }

    p{
        color:$white;
        a{
            color: $lightgray;
            text-decoration: none;
            &:hover{
                opacity: 0.7;
            }
        }
    }
}


@media screen and (max-width: 885px) {
    body{
        width:95%;
    }
    /* Navigation  */
    #nav {
        .logo {
            width:70%;
            img{
                width:3.7rem;
            }
        }

        >a {
            width: 100%;
            height: 4.125rem;
            text-align: right;
            position: absolute;
            font-size: 1.5rem;
            top: 0;
            color: $black;
            right: 0;
            width: 10%;
            padding: 0.8rem 1rem 0 0;
            transition: 1.6s ease;
        }
    }

    #nav:not(:target)>a:first-of-type,
    #nav:target>a:last-of-type {
        display: block;
        color: darken($lightgray,40%);
        text-decoration: none;
    } //first level
    #nav>ul {
        height: auto;
        display: none;
        position: absolute;
        width: 100%;
        margin-left: -40px;
        background: $primary;
        >li {
            width: 100%;
            margin: 0 0 0 -40px;
            display:block;
            background-color: $primary;
            &.is-active {
                border: none;
                background: rgba(0,0,0, 0.8);
                ul {
                    //second level
                    li {
                        a {
                            color: $black;
                        }
                    }
                }
            }
            &:hover{
                background-color: darken($primary,10%);
                a{
                    color: $white;
                }
            }

            >a {
                height: auto;
                text-align: left;
                padding: 0.3rem 1rem;
                transition: none;
                color: $white;
            }
        }
    }

    #nav:not(:target)>ul {
        display: block;
        background-color: rgba(0, 0, 0, 0.8);
        transition: 0.5s ease;
        top: -1000%;
        right: 0;
    }

    #nav:target>ul {
        display: block;
        transition: 0.5s ease;
        top: 63px;
        left: 0;
        margin:0;
    }

    #nav>ul>li:not(:last-child)>a {}

    //second level
    #nav li {
        display:block;
        margin-left:-40px;
        &:hover ul a {
            transition: none;
        }

        ul {
            position: static;
            padding: 1.25em;
            padding-top: 0;
            opacity: 1;
            display: none;
            li {
                margin-left: 0;
                text-align: left;
            }
            a {
                padding: 0.7rem;
            }
        }
    }
  /* Search */


  .expandright {
    right: auto;
    left: 75px;
}

.search:hover,
.search:focus {
    width: 100%;
    outline: none;
}

.button {
    color: $white;
    float: left;
    display: block;
    &:hover{
        background: darken($primary,10%);
    }
}

/* Home */
section{

        &:nth-child(2n){
          .card{
            width:50%;
            img{
              height:20vw;
          }
        }/* end .card */
      }/* 2n */
      &:nth-child(3n){
        width:96%;
        section{
        &:nth-child(1n){
            width:40%;
        }
        &:nth-child(2n){
            width:54%;
      }
      &:nth-child(3n){
        width:58%;
    }
    &:nth-child(4n){
        width:56%;
    }
    &:nth-child(5n){
        width:56%;
    }
    }/* sub-section */

  }/* 3n */
}/* section */

/* Footer */

footer{
    padding:0;
    width: 105%;
    margin-left: -2.5%;
    ul{
        margin-bottom: 0;
        li{
            img{
                margin: 0 1rem 0 1rem;
            }
        }
    }
    p{
        margin-top: 0;
    }
}

}


@media screen and (max-width: 450px) {
/* Navigation  */
#nav {
    .logo {
        img{
            width:3.1rem;
        }
    }
}

/* Home */
section{
    &:nth-child(2n){
      .card{
        img{
          height:50vw;
      }
    }/* end .card */
  }/* 2n */
      &:nth-child(3n){
        section{
            &:nth-child(1n){
                width:100%;
            }
            
            &:nth-child(2n){
                width:96%;
            }

            &:nth-child(4n), &:nth-child(5n){
                width:98%;
            }    
        }/* section */
  }/* 3n */

}/* section */
}