{% load staticfiles %}

{% if 1 %}
  <form action="{{  MAILING_LIST_FORM_WEB_PATH}}" method="post" class="">
    {% csrf_token %}
    <ul>
        {{ mailing_list_footer.as_ul }}
    </ul>
    <input class="field-button" type="submit" value="Sign up" />
  </form>
{% endif %}

<ul>
    <li>
    <a href="//wellcome.ac.uk" title="Wellcome">
          <img src="{% static 'images/wellcome-logo-white.svg' %}" alt="Wellcome" >
    </a>
    </li>
    <li>
    <a href="//www.kcl.ac.uk/" title="King's College London">
      <img src="{% static 'images/KCL-logo-white.svg' %}" alt="King's College London" >
    </a>
    </li>
</ul>
<ul>
  <li>
    <a href="//twitter.com/field_wt">
      <i class="fab fa-twitter" aria-hidden="true"></i>@field_wt
    </a>
  </li>

</ul>
<p>
    Designed, developed and maintained by <a href="//kdl.kcl.ac.uk" title="King's Digital Lab">King's Digital Lab</a>
</p>
