{% load staticfiles %}

{% if not hide_footer_mailing_list %}
  <form action="{{  MAILING_LIST_FORM_WEB_PATH}}" method="post" class="form-mailing-list">
    {% csrf_token %}
    

        <h2>Mailing list sign up</h2>
        <h4>Receive latest updates, news and events</h4>
    <div>
        {{ mailing_list_footer.as_p }}
        <input class="field-button" type="submit" value="Sign up" />
        <div>
          <label for="id_agree" class="consent-text">
            By providing my details I am consenting to FIELD team
            sending me information about the project,
            such as news, bulletins and events.
            <a target="_blank" href="https://www.kcl.ac.uk/terms/privacy.aspx">
              King’s College London’s privacy policy applies.
            </a>
          </label>
        </div>
    </div>
    
  </form>
{% endif %}

<ul>
    <li>
        <a href="//wellcome.ac.uk" title="Wellcome logo" target="_blank">
              <img src="{% static 'images/wellcome-logo-white.svg' %}" alt="Wellcome logo" >
        </a>
    </li>

    <li>
        <a href="//www.lincoln.ac.uk/" title="Lincoln Uni Logo" target="_blank">
          <img src="{% static 'images/UOL_greyscale_landscape_white.png' %}" alt="Lincoln University logo" >
        </a>
    </li>

    <li>
        <a href="//www.leedstrinity.ac.uk/" title="Leeds Trinity University logo" target="_blank">
              <img src="{% static 'images/Leeds-Trinity-University-logo.png' %}" alt="Leeds Trinity University logo" >
        </a>
    </li>
    <li>
        <a href="//www.ncl.ac.uk" title="Newcastle University logo" target="_blank">
          <img src="{% static 'images/Newcastle-University-logo.png' %}" alt="Newcastle University logo" >
        </a>
    </li>
    <li>
        <a href="//www.ed.ac.uk" title="University of Edinburgh logo" target="_blank">
              <img src="{% static 'images/University-of-Edinburgh-logo.png' %}" alt="University of Edinburgh logo" >
        </a>
    </li>
    <li>
        <a href="//www.gla.ac.uk" title="University of Glasgow logo" target="_blank">
          <img src="{% static 'images/University-of-Glasgow-logo.png' %}" alt="University of Glasgow logo" >
        </a>
    </li>
    <li>
        <a href="//www.hull.ac.uk/" title="University of Hull logo" target="_blank">
              <img src="{% static 'images/University-of-Hull-logo.png' %}" alt="University of Hull logo" >
        </a>
    </li>
    {% if not HIDE_KCL_LOGO %}
      <li>
        <a href="//www.kcl.ac.uk/" title="King's College London logo" target="_blank">
          <img src="{% static 'images/KCL-logo-white.svg' %}" alt="King's College London logo" >
        </a>
      </li>
    {% endif %}
</ul>
<ul>
  <li>
    <a href="//twitter.com/field_wt" target="_blank">
      <i class="fab fa-twitter" aria-hidden="true"></i>@field_wt
    </a>
  </li>

</ul>
<p>
    Designed, developed and maintained by <a href="//kdl.kcl.ac.uk" title="King's Digital Lab" target="_blank">King's Digital Lab</a>
</p>
