{% load menu_tags %}

{% if USE_BULMA %}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      {{ PROJECT_TITLE }}
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">

      {% main_menu template="menus/main_menu.html" %}

    </div>
  </div>
</nav>
{% else %}
<nav>
  {% block main_menu %}
    <div class="menu-list">
      <ul>
        {% main_menu template="menus/main_menu.html" %}
      </ul>
    </div>

  {% endblock %}
</nav>
{% endif %}
