{% load menu_tags wagtailcore_tags %}{% load staticfiles %}

<nav id="nav" role="navigation">
  <div class="logo">
    <a href="/">
      <img src="{% static 'images/field-logo.svg' %}" alt="Field logo" >
      <h1>Farm-level Interdisciplinary approaches to Endemic Livestock Disease</h1>
    </a>
  </div>
  <a href="#nav" title="Show navigation">☰</a>
  <a class="hide-nav" href="#" title="Hide navigation">×</a>
  <ul>
    {% block main_menu %}
      {% if request %}
        {% main_menu template="menus/main_menu.html" %}
      {% endif %}
    {% endblock %}
  </ul>
</nav>
