{% load staticfiles compress %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BoviFlu Game</title>


<script src="{% static 'phaser/dist/phaser.js' %}"></script>
  <script defer src="{% static 'axios/dist/axios.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'assets/game/plugins/vendor/easystarjs/bin/easystar-0.4.4.js' %}"></script>


  <style type="text/css">
    @font-face {
      font-family: PressStart2P;
      src: url({% static 'assets/game/fonts/PressStart2P-vaV7.ttf'%});
      font-weight: normal;
    }

    body {
      margin: 0;
    }
  </style>
</head>
<body>
<div style="font-family:PressStart2P; position: absolute; left:-1000px; visibility:hidden;">.</div>
<div id="phaser-fieldgame" style="width: 100%;height: auto; background-color: #0f0f0f">

</div>
{% csrf_token %}
<script>
  sessionStorage.setItem(
          'csrf_token', document.querySelector('[name=csrfmiddlewaretoken]').value
  );
  sessionStorage.setItem('session_id', '{{ session_id }}');
</script>


<script defer type="module" src="{% static 'assets/game/main.js' %}"></script>


<!--
Credits:

Icons (for help): https://opengameart.org/content/game-icons

Farm pack from https://sondanielson.itch.io/simple-farm-pack
Hospital and buildings:

Characters: https://opengameart.org/content/various-creatures

Coin: JM.Atencia (https://opengameart.org/content/spinning-coin)

https://route1rodent.itch.io/16x16-rpg-character-sprite-sheet
https://thkaspar.itch.io/tth-animals


Other possibilitilies
https://limezu.itch.io/serenevillagerevamped

Paid:
https://shubibubi.itch.io/cozy-farm
https://gvituri.itch.io/tiny-ranch
-->

</body>
</html>
