{% extends "base.html" %}
{% load wagtailcore_tags staticfiles compress %}
{% block meta_title %}Field Game{% endblock %}

{% block title %}
  Field Game
{% endblock %}

{% block css %}
  <style type="text/css">
  button.play_btn {
        font-size: 150%;
      }
    @media screen and (min-width: 1171px) {
      img.game-image {
        max-width: 30%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      #game_form {

      }
    }

    @media screen and (max-width: 1170px) {
      img.game-image {
        max-width: 80%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    @media screen and (max-width: 450px) {
      div img.game-image {
        width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

  </style>

{% endblock %}

{% block main %}

  <div class="page-body richtextpage">

    <h1>How well can you protect a farm against infectious disease?</h1>
    <section>
      <h2>Introduction</h2>
      <div>
        <p>In the FIELD project we are interested in how farmers make decisions when it comes to preventing their cows
          from getting disease. We have built a game to test this decision making process and are asking you to play
          it.</p>
        <p>
          We will record your decisions as you play the game and use this in our analysis. We will not collect any
          personal information.</p>
      </div>
    </section>
    <section>
      <h2>Background</h2>
      <div>
        <p>Beef and dairy products go through a complex supply chain before they reach the supermarket shelf. To
          maintain a steady income, farmers are under pressure to get the most out of their land and their livestock.
          This often means buying in new younger cows from other farms and selling off the older ones for the right
          price.
        </p>
        <p>
          With this movement comes a substantial risk of spreading diseases. Many of the diseases affecting cows are
          endemic. These diseases are not deadly, but they are unpleasant for cows. They cause difficulties for farmers
          too because affected cows produce less milk. To combat endemic diseases farmers can test, treat, and vaccinate
          their animals.</p>
      </div>
    </section>
    <h2>What we want you to do</h2>
    <div>
      We want you to play a game based around the struggles of being a cattle farmer. Your goal is to make money for
      your farm by producing milk and trading cows with other farmers. Some cows are infected with a disease. If they go
      untreated it will spread to other cows in the herd and stop them from producing milk.
    </div>
    <h2>How to play</h2>
    <section>
      <div>
        <img class="game-image" alt="character select" src="{% static 'assets/game/images/game_characterselect.png' %}">
      </div>
      <div>
        <p>
          You will be asked to choose a character. When you enter the game, you will see your character standing at your
          farm. You will also see 5 other characters standing next to their farms. They are your opponents.</p>
        <p>
          Each player starts with <b>£20</b> and a pen containing <b>8</b> cows. Cows can do three things: </p>
        <ol>
          <li>Make money for the farm by producing milk</li>
          <li>Be bought and sold to other farms</li>
          <li>Carry an infection which prevents them from producing milk</li>
        </ol>

        <p>The game proceeds over <b>6</b> rounds. Each round consists of <b>two</b> decisions.</p>
      </div>
    </section>
    <section>
      <div>
        <strong>Decision 1: to treat or not treat your cows for infection</strong>
        <div>
          <img class="game-image" alt="Treatment phase" src="{% static 'assets/game/images/decision1.png' %}">
        </div>
        <p>Tap on the hospital in the middle of the screen to 'treat' your cows. This will cost <b>£5</b> and it
          will make any infected cows healthy. Cows returning from the hospital are blue to show that they have been
          treated. Tap on your farm to choose to 'not treat' your cows. This costs nothing, but any infected cows on the
          farm will remain infected.
        </p>
      </div>
    </section>
    <section>
      <strong>Decision 2: who to buy from</strong>
      <div>
        <img class="game-image" alt="Trading phase" src="{% static 'assets/game/images/decision2.png' %}">
      </div>
      <p>
        Tap on the pen of another farm to bring one of their cows onto your own farm. You will pay <b>£5</b> to
        the owner of the farm you chose.</p>
      <p>There is one restriction regarding who you can buy from: if your cows are treated, you can only choose farms
        that have treated cows. If your cows are untreated, you can only choose farms that have untreated cows.</p>

      <p>
        <em>Tip: When you buy from another farm there is a risk that it might be infected. Keep an eye on the infection
          risk level indicator in the top right of the screen and try to choose farms that you think are most likely to
          sell you a healthy cow.</em></p>
      <div>
        <img class="game-image" alt="Infection bar" src="{% static 'assets/game/images/game_infection.png' %}">
      </div>
      <p>
        At the top right of the screen is an infection risk level indicator. This
        indicates how many cows have disease in the game.</p>
      <p>
    </section>
    <section>
      <strong>End of the round</strong>
      <div>
        <img class="game-image" alt="End of round" src="{% static 'assets/game/images/milk_and_infection.png' %}">
      </div>
      At the end of the round two things happen:</p>
      <ol>
        <li><b>Cows are milked:</b> each farmer receives <b>£1</b> for every healthy cow on their farm</li>

        <li>
          <b>Infection spreads:</b> infected cows transmit the disease to other cows in the same pen
        </li>
      </ol>

    </section>
    <section>
      <h2>Winning the game</h2>
      <div>
        <img class="game-image" alt="End of game" src="{% static 'assets/game/images/game_end.png' %}">
      </div>
      <p>
        The game ends after the <b>6th</b> round.
        <br/>
        The winner of the game is the player who has the most money in the bank.
      </p>
      <p>
        You can review the rules at any time by tapping the <b>?</b> in the top right corner of the screen.
      </p>
    </section>
    <section>
      <h2>Play the game</h2>
      <p>For our experiment we want you to play the game three times. We would like to see how much you improve as you
        play. No personal data will be collected</p>

    </section>
    <br/>
    <div class="spacer">&nbsp;</div>
    <div id="game_form">
      <form id="gameForm" method="get" action="{% url 'game' %}">
        <input id="playedBefore" type="checkbox" name="playedBefore" value="1">
        <label for="playedBefore">I have played the game before</label>
        <br/>
        <input id="privacyConsent" type="checkbox">
        <label for="privacyConsent">I agree to the FIELD project's <a href="https://www.kcl.ac.uk/terms/privacy">privacy
          policy</a>.</label>
        <br/><br/><br/>
        <br/><br/>

        <button type="submit" class="play_btn">Play the game</button>
      </form>
    </div>
    <br/>
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/game_landing.js' %}"></script>
  </div>




{% endblock %}

